---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title" style="text-align:center">{{ page.title }}</h1>
  </header>
    <p style="text-align:center">{{ page.flavortext }}</p>

  <div class="post-content">
    {{ content }}
  </div>
  
  <p style="text-align:center">The answer is an English word.  There's a page at this page's URL plus a hyphen plus the answer in lowercase for you to check your answer.  The <a href="{{site.baseurl}}{{page.url | replace: ".html", "" }}-{{page.answer}}" style="font-size:16px">solution</a> is here.</p>

</article>
